@charset "iso-8859-1";
/* CSS Document */
body{
    font-size: 15px !important;
    font-family: 'Open Sans', sans-serif !important;
}
h2{
    font-size: 24px;
}
ul {
list-style:none;
display:inline;
}

.middle-box {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 40px;
    z-index: 100;
}

.full-width {
    width: 100% !important;
}
.loginscreen.middle-box {
    width: 300px;
}
.btn-white {
    background: white none repeat scroll 0 0;
    border: 1px solid #e7eaec;
    color: inherit;
}

.p-xxs {
    padding: 5px;
}
.p-xs {
    padding: 10px;
}
.p-sm {
    padding: 15px;
}
.p-m {
    padding: 20px;
}
.p-md {
    padding: 25px;
}
.p-lg {
    padding: 30px;
}
.p-xl {
    padding: 40px;
}
.p-w-xs {
    padding: 0 10px;
}
.p-w-sm {
    padding: 0 15px;
}
.p-w-m {
    padding: 0 20px;
}
.p-w-md {
    padding: 0 25px;
}
.p-w-lg {
    padding: 0 30px;
}
.p-w-xl {
    padding: 0 40px;
}
.m-xxs {
    margin: 2px 4px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m {
    margin: 15px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 1px;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 1px;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}
.space-15 {
    margin: 15px 0;
}
.space-20 {
    margin: 20px 0;
}
.space-25 {
    margin: 25px 0;
}
.space-30 {
    margin: 30px 0;
}

.topwrap {
min-height:35px;	
}
.Tbg {
background: rgba(186,196,230,1);
background: -moz-linear-gradient(left, rgba(186,196,230,1) 0%, rgba(70,73,82,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,196,230,1)), color-stop(100%, rgba(70,73,82,1)));
background: -webkit-linear-gradient(left, rgba(186,196,230,1) 0%, rgba(70,73,82,1) 100%);
background: -o-linear-gradient(left, rgba(186,196,230,1) 0%, rgba(70,73,82,1) 100%);
background: -ms-linear-gradient(left, rgba(186,196,230,1) 0%, rgba(70,73,82,1) 100%);
background: linear-gradient(to right, rgba(186,196,230,1) 0%, rgba(70,73,82,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac4e6', endColorstr='#464952', GradientType=1 );	
}
.topnav {
float:left;	
margin-top:8px;
}
.topnav li{
display:inline;
margin-right:10px;
color:#fff;
}
.topnav li a {
color:#fff;
text-decoration:none;	
}
.searchbox {
	margin-top:3px;
}
.searchbox input , .input-group-addon {
border-radius:0;	
height:28px;
}
.logoff {
background:#fbed4e;	
padding:5px 30px;
}
.right-d {
float:right;
color:#fff;
}
.right-d li{
display:inline;
margin-left:10px;
float:left;
}
.navbg {
background:#5c6ea8;
min-height:56px;
border-bottom:solid 3px #fff;
}
.logowrap {
float:left;

z-index:100;	
}
.logo {
position:absolute;
left:0;
top:15px;
}

.logowrap span {
font-size:40px;
margin-left:100px;
color:#cfd5e5;
}
.logowrap span font {
color:#cfc73f;
}
.navbar-default {
background:transparent;	
border:transparent;
/*position:absolute;
right:10px;
top:100px;*/
width:100%;
border-top:solid 3px #333;
}
.bg-img {
background:url(../../images/layout/bg-img.jpg) center no-repeat;	
}
.right-bor {
border-right:solid 2px #445c7a;
}
.left-bor {
border-left:solid 2px #445c7a;
}
.doctor-box {
margin-bottom:15px;	
float:left;
width:100%;
}
.drname {
font-size:17px;
position:relative;
}
.drname .active {
	 height: 10px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 10px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
	background:#090;
}


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.provider-box , .provider-box li {
float:left;	
width:100%;
}
.provider-box li {
color:#60b03f;
}
.content-area {
	position:relative;
}
.special-nav {
float:left;
width:100%;
text-align:center;
}
.special-nav li{
display:inline;
padding:0 15px;
border-right:solid 1px #445c7a;
font-size:16px;
color:#3a4f77;
}
.special-nav li a{
	color:#3a4f77;
}
.special-nav li a:hover{
	color:#000;
}
.special-nav li:last-child {
border:none;	
}
.intro {
font-size:18px;	
}
.site-footer .copyright {
    color: #393939;
    font-size: 11px;
    line-height: 4em;
	float:left;
	width:100%;
}

.site-footer .nav-menu {
    margin-bottom: 30px;
	width:100%;
	float:left;
	text-align:center;
}
.nav-menu li {
display:inline;	
}

.site-footer  .nav-menu li a {
    color: #252525;
    display: inline;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
   	padding:13px;
	
}

.no-padding{
    padding: 0px;
}

.free-service {
    position:absolute;
    top:100px;
    left:-114px;
}
.inline-checkbox .checkbox {
    display: inline!important;
}
label{
    font-weight: 300 !important;
}

.LR-border {
border-right:solid 2px #445c7a;
border-left:solid 2px #445c7a; 
}

.control-label {
    float: left;
    margin-top: 8px;
}


/*Registration*/

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    color: inherit;
    margin-bottom: 0;
    min-height: 48px;
    padding: 14px 15px 7px;
}
.ibox-content {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    color: inherit;
    padding: 15px 20px 20px;
}

 @media (max-width:767px) {
	 .right-bor {
border-right:none!important;
}
.left-bor {
border-left:none!important;
}
.provider-box li {
    width:100%;
}
.bg-img {
background-image:none!important;	
}
 }